#title {
    color: rgb(186, 133,9);
    font-family: "Lato",sans-serif;
    text-align: center;
}
.subtitle {
    color: rgb(219, 168, 50);
    font-family: "Sarabun",sans-serif;
}
body {
    background: linear-gradient(to right bottom ,lightgreen,lightgrey );
    background-size: cover;  
    text-align: justify; 

}
#about-us-image {
    height: 200px;
    width: 60%;
    float: right;
    border: 10px solid rgba(24, 2, 59, 0.267);
    padding:20%
    margin; 80px 40px;
    display:
}